@{
    ViewData["Title"] = "Home Page";
}

<style>

    #top-bar {
        background-color: #FFE17F;
        height: 3vw;
    }

    #cover-container {
        background-color: #F3F0EB;
    }

    #cover-img{
        height: 25vw;
    }

    #cover-text {
        color: #013451;
        font-size: 3vw;
        font-weight: bold;
    }
</style>

<div id="top-bar" class="text-center mb-1">
    &nbsp;
</div>

<div id="cover-container" class="d-flex flex-column justify-content-center align-items-center">
    <div>
        <img id="cover-img" src="images/BKC_Logo-19.svg" alt="Image text"/>
    </div>
    <div id="cover-text" class="mb-5">
        <p style="text-align: center;">Velkommen til<br />BKC Kolding</p>
    </div>
</div>